* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: #f1f2f3;
}

/* live server not working lol */
ul {
  list-style-type: circle;
  display: inline-flex;
  margin: 0rem 1rem;
  padding: 0;
}

h1 {
  font-size: 36px;
  color: rgb(33, 104, 104);
  text-align: center;
  padding-top: 2%;
}

ul li {
  list-style: none;
  padding: 5%;
  box-shadow: 0 4px 6px;
  margin-bottom: 8px;
  color: rgb(39, 177, 112);
}

div {
  padding-top: 5%;
}
